<div class="center-2">

  <form [formGroup]="form" (ngSubmit)="post()">

    <mat-card class="example-card">
      <mat-card-title>Post It!</mat-card-title>
      <p></p>

      <mat-card-content>
        <img [src]="imageSrc" class="img-30wv">
      </mat-card-content>

      <mat-form-field>
        <mat-label>Title</mat-label>
        <input type="text" size="30" formControlName="title" matInput>
      </mat-form-field>

      <div class="space-evenly">
        <button type="button" [routerLink]="['/']" mat-raised-button color="warn">
          Cancel
          <mat-icon>cancel</mat-icon>
        </button>

        <button type="submit" mat-raised-button color="accent">
          Post It
          <mat-icon>local_post_office</mat-icon>
        </button>
      </div>

    </mat-card>

  </form>

</div>